*.a
*.db
*.dll
*.exe
*.exp
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.lastbuildstate
*.lib
*.log
*.o
*.obj
*.opendb
*.pch
*.pdb
*.sdf
*.tlog
*.user
BTC/.vs/
BTC/bech32
BTC/bin/
BTC/bin64
BTC/cmake_install.cmake
BTC/CMakeCache.txt
BTC/CMakeFiles/
BTC/LibraryTest/obj/
BTC/Makefile
BTC/NktBtcIndex/obj/
BTC/packages/
BTC/RpcTest/bin/
BTC/RpcTest/obj/
ETH/.vs
ETH/bin/
ETH/bin64/
ETH/Configuration/obj
ETH/EthereumClasses/obj
ETH/EthereumIndex/obj
ETH/EthereumSimpleIndexer/bin
ETH/EthereumSimpleIndexer/obj
ETH/packages
